.dialog{
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.h2{
    text-align: center;
}

.carousel{
    height: 85%;
}
.btn-confirmar{
    height: 10%;
}